

body{
    background-color: rgb(173, 122, 185);
    color: ivory;
    font-size: 25px;
}

p{
    font-size: large;
}

h1{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

div#area{
    font: 30px Arial;
    background-color: cadetblue;
    color: ivory;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}